/* FULL PAGE CENTERING */
.login-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f6f8;
}

/* MAIN CONTAINER */
.auth-container {
  width: 80%;
  max-width: 1000px;
  min-height: 500px;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  background: #fff;
}

/* LEFT SECTION */
.auth-left {
  flex: 1;
  background-color: #061a3f;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.auth-left h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.auth-left p {
  font-size: 15px;
  margin-bottom: 30px;
  line-height: 1.5;
}

.auth-signin-btn {
  padding: 12px 40px;
  border-radius: 25px;
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
}

/* RIGHT SECTION */
.auth-right {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-right h1 {
  color: #ff7a00;
  margin-bottom: 25px;
  font-size: 30px;
}

.auth-right form {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.auth-right input {
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  text-align: center;
}

.auth-signup-btn {
  margin-top: 10px;
  padding: 12px;
  width: 160px;
  border-radius: 25px;
  border: none;
  background-color: #ff7a00;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  align-self: center;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .auth-container {
    flex-direction: column;
    width: 90%;
    min-height: auto;
  }

  .auth-left,
  .auth-right {
    width: 100%;
    padding: 30px;
  }

  .auth-right form {
    width: 100%;
  }
}
