.edit-page {
  max-width: 700px;
  margin: 40px auto;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
}

.edit-page input,
.edit-page select,
.edit-page textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.variant-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.image-preview img {
  width: 80px;
  margin-right: 10px;
}

.save-btn {
  background: #003d6b;
  color: white;
  padding: 12px;
  border: none;
  width: 100%;
}
